/*MAIN NAVIGATION STYLING*/

#navbar .nav>li>a:hover {
    box-shadow: 0 -4px 0 #db2e1c inset;
    background: none;
}

.navbar-default {
    height: 90px;
    background-image: none;
    background-color: #fff;
}

#navbar ul {
    padding: 0px;
    margin-top: 11px;
    float: right;
}
#navbar ul li {
    display: inline-block;
    list-style: none;
    font-size: 13px;
}

#navbar ul li a {
    color: #333333;
    line-height: 64px;
    font-size: 16px;
    font-family: 'Oswald', Arial;
    text-transform: uppercase;
    padding: 0 16px;
    display: block;
    margin-right: -3px;
    margin-left: 1px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.navbar-brand {
  padding-top: 2px;
  height: auto;
}

.navbar-default.navbar-shrink {
  height: 70px;
  
}

.navbar-shrink .navbar-brand {
  height: 75px;
  padding-bottom: 5px;
}

.navbar-shrink .navbar-brand img {
  max-height: 100%;
  width: auto;
}

.navbar-shrink #navbar ul li a {
  line-height: 44px;
}

div#services-page.parallax-overlay {
	background-color: rgba(0, 81, 177, 0.8);
}

div#portfolio-page.parallax-overlay {
  background-color: rgba(0, 81, 177, 0.8);
}

/*Transparent NAVIGATION STYLING*/



/* LOGO BAR */

.logo-bar .client-row {
  overflow: hidden;
  text-align: center;
  line-height: 0;
}

.logo-bar .client-row .col-md-3 {
  display: inline-block;
  min-height: 80px;
  line-height: 80px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo-bar .client-row img {
  max-width: 140px;
  /*opacity: 0.3;*/
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-backface-visibility: none;
}

.logo-bar .client-row img:hover {
  opacity: 1;
}

.logo-bar .client-row .row-wrapper {
  display: inline-block;
  width: 80%;
}

.logo-bar .client-row:last-child .row-wrapper {
  border-bottom: none;
}

.logo-bar .row-wrapper .col-md-3 {

}

.logo-bar .row-wrapper .col-md-3:last-child {
  border-right: none;
}


/*  CONTENT BLOCK 1-6 MEDIA QUERIES
/*----------------------------------------------------*/

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {

  .logo-bar .client-row .row-wrapper
    border-bottom: none;
  }

  .logo-bar .row-wrapper .col-md-3 {
    border-right: none;
  }

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {



}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

  .logo-bar .client-row .row-wrapper {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .logo-bar .row-wrapper .col-md-3 {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/* BLOG POST SECTION */

.post-content {
  padding-top: 2px;
  margin-top: 110px;

}

.main-content .menu-crumbs {
  font-size: 12px;
  padding-left: 1px;
  color: #969696;
}

.main-content .menu-crumbs a {
  color: #595858;
  text-decoration: none;
}

.main-content .bold-divider {
    margin: 15px 0px 16px 0px;
    display: block;
    border-bottom: 4px solid #333333;
}


.post-title {
    margin: 7px 0px 7px 0px;
    word-wrap: break-word;
    font-family: 'Oswald', Arial, sans-serif;
    color: #333333;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.1;
}

.entry-footer {
  margin-top: 20px;
}
  
.i-category a {
  text-transform: uppercase;
  background: #e00202;
  color: #fff !important;
  font-size: 10px;
  padding: 2px 6px 2px;
  margin-right: 4px;
 /* border-radius: 1px;
  text-decoration: none;*/
}


.meta-tags {
  font-family: 'Oswald', Arial, sans-serif;
  font-size: 11px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 25px;
}

.meta-tags a {
  color: #595858;
}
            
.line-divider {
    border-top: 1px solid #dadada;
    display: block;
    margin-bottom: 20px;
}    

.social.meta-share {
    display: block;
    width: 100%;
    text-align: center;
    float: none;
    margin-bottom: 40px;
    margin-top: 40px;
    font-family: 'Oswald', Arial, sans-serif;
    font-size: 11px;
    letter-spacing: 1px;
}

.social.meta-share a, .social.meta-share i {
    font-size: 40px;
    line-height: 40px;
}

.social.meta-share i.icon-facebook {
  color: #3b5998;
}

.social.meta-share i.icon-twitter {
  color: #00aced;
}

.social.meta-share i.icon-google-plus {
  color: #d34836;
}

.social.meta-share i.icon-linkedin {
  color: #007bb5;
}

.next-prev {
  font-family: 'Oswald', Arial, sans-serif;
  margin-bottom: 30px;
  min-height: 110px;
}

.next-prev a {
  padding:  20px 0;
   /* display: none;*/
    
}
.next-prev a.prev {
  padding-left: 75px;
  padding-right: 30px;
  box-shadow:  -1px 0px 0 #dadada inset;
}
.next-prev a.next {
  padding-left: 30px;
  padding-right: 75px;
}

.next-prev a:hover{background: #f7f7f7;}
.next-prev a:hover .np-title{ text-decoration: underline; }

.next-prev i {
    position: absolute;
    font-size: 64px;
    color: #333333;
}

.np-caption {
    font-family: 'Oswald', Arial, sans-serif;
    font-size: 14px;
    color: #9a9a9a;
    margin-bottom: 4px;
    letter-spacing: 0.3px;
    display: block;
}

.np-title {
    display: block;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0.2px;
}

.meta-author {
    border: 1px solid #dadada;
    background-color: #f7f7f7;
    padding: 24px;
    margin-bottom: 30px;
    min-height: 150px;
    border-radius: 3px;
}

.author-avatar {
  padding-top: 25px;
}

.author-name {
    font-family: 'Oswald', Arial, sans-serif;
    font-size: 22px;
    letter-spacing: 0.3px;
    margin-bottom: 5px;
    line-height: 1.2em;
}

.author-desc p {
  margin-bottom: 0;
}

#respond {
    background-color: transparent!important;
    box-shadow: none!important;
    padding: 0px!important;
}

#respond.comment-respond {
    border: none;
}

#respond h2.comment-reply-title {
    text-transform: uppercase;
    margin-top: 1.5em;
    margin-bottom: 15px;
    word-wrap: break-word;
    font-family: 'Oswald', Arial, sans-serif;
    color: #333333;
    font-size: 24px;
}

#respond .comment-form input,
#respond .comment-form textarea {
    width: 100%;
    color: #7d7d7d;
    font-size:  14px;
    padding: 13px 17px;
    border: 1px solid #dadada;
    border-radius: 0;
    background: #fff;
    margin: 0 0 20px 0;
    outline: none;
}

#respond .comment-form #submit {
    padding:  9px 20px;
    color: #fff;
    background: #151515;
    font-family:  'Oswald', Arial, sans-serif;
    font-size:  13px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    border-radius: 3px;
    border: none;
    margin: 0;  
}

/* PAGE SECTION */

.page-content {
  padding-top: 2px;
  margin-top: 110px;

}

.sidebar {
  margin-top: 10px;
}

.widget {
    margin-bottom: 40px;
}

.widget-title {
    margin-bottom: 24px;
}

.widget-title h3 {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.2em;
    text-transform: uppercase;
    border-bottom: 4px solid #333333;
    display: inline-block;
    margin: 0px 0px -1px 0px;
    padding: 0px 3px 9px 3px;
    font-family: 'Oswald', Arial, sans-serif;
    color: #333333;
}

.left-sidebar{
    left: 0px;
    background-image: url("img/default-sidebar.jpg");
    height: 100%;
    position: fixed;
    background-color: #f5f5f5;

}

/* BLOG HOME SECTION */

.meta-info, .meta-info .entry-author a {
    font-size: 11px;
    font-family: 'Oswald', Arial, sans-serif;
    margin-bottom: 6px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all 0.2s ease-in-out;
}

.meta-info .entry-author a {
    display: inherit !important;
    line-height: 1em;
    color: #333333;
}

.meta-info .entry-date {
    padding-top: 2px;
    color: #9a9a9a;
}

.entry-title h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.3em;
    letter-spacing: 0.2px;
    margin: 2px 0px 2px 0px;
    word-wrap: break-word;
    font-family: 'Oswald', Arial, sans-serif;
    color: #333333;
}

.post-excerpt {
  margin: 8px 0px 2px 0px;
}

.footer-divider {
    border-bottom: 1px solid #cacaca;
    margin-top: 40px;
}